:root {
  --bg: rgb(250, 250, 247);
  --bglight: rgba(25,25,25,.75);
  --bgdark: rgb(233, 233, 227);
  --bgselect: rgb(199, 199, 149);
  --contrast: rgb(25, 25, 25);
  --contrastlight: rgb(95, 95, 95);
  --border: rgb(147, 145, 114);
  --overlay-bg: rgba(59, 59, 58, 0.5);
  --project-pill: rgb(134, 131, 107);
  --low: rgb(125, 171, 120);
  --medium: rgb(212, 210, 69);
  --high: rgb(188, 101, 70);
  color: var(--contrast);
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
}

body {
  max-width: 1000px;
  min-width: 360px;
  background-color: var(--bg);

}

form {
  display: block;
}

button {
  width: 10rem;
  height: 3rem;
  background-color: var(--contrast);
  border-radius: 12px;
  color: var(--bg);
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

button:hover {
  background-color: var(--bglight);
  transition: ease-in;
  transition-duration: 0.15s;
}

label {
  text-align: right;
  margin-right: 1rem;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
  color: var(--contrast)
}

input,select,textarea {
  outline: none;
  border: 1px solid var(--border);
  border-radius: 5px;
  height: 1.5rem;
  background-color: var(--bgdark);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

#content {
  display: flex;
  flex-direction: column;
  
  width: 100%;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  background-color: gradient();
  border-bottom: 1px solid var(--contrast);
}

#modal {
  position: absolute;
  justify-self: center;
  align-self: center;
  text-align: center;
  top: 10%;
  padding: 2rem;
  border: 1px solid var(--contrast);
  background-color: var(--bg);
  z-index: 2;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-bg);
  backdrop-filter: blur(3px);
  z-index: 1;
}

#task-description {
  resize: none;
  height: 4rem;
}

.hidden {
  display: none;
}

.container {
  padding: 2rem;
  border-bottom: 1px solid var(--contrast);
}

.project {
  width: 100px;
  padding: 1rem;
  border-radius: 5px;
}

.div-add-project {
  display: flex;
  justify-content: center;
}

.current-projects {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  justify-content: flex-start;
}

.current-projects:first-child {
  justify-self: center;
}

.existing-project {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.existing-project-name {
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.existing-project-buttons {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.selected-project {
  background-color: var(--bgselect);
}

.div-add-task {
  display: flex;
  justify-content: center;
}

.existing-task {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--border);
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.low-priority {
  border-left: 8px solid var(--low);
}

.medium-priority {
  border-left: 8px solid var(--medium);
}

.high-priority {
  border-left: 8px solid var(--high);
}

.existing-task-name {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.existing-task-due-date, .existing-task-description, .existing-project-num-tasks {
  color: var(--contrastlight);
  margin-bottom: 0.8rem;
}

.existing-task-project {
  background-color: var(--project-pill);
  border-radius: 5px;
  padding: 0.5rem;
  width: min-content;
  text-align: center;
  color: white;
}

.form-row {
  width: 100%;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.form-row-btns {
  width: 100%;
}

.task {
  border-bottom: 1px solid var(--border);
}

.icon {
  width: 30px;
  height: 30px;
}

.btn-cancel {
  border: 1px solid var(--contrast);
  background-color: var(--bg);
  color: var(--contrast);
}

.btn-cancel:hover {
  background-color: var(--bgdark);
  transition: ease-in;
  transition-duration: 0.15s;
}