:root {
  --bg: rgb(0,0,0,1);
  --contrast: rgb(255,255,255,1);
  color: var(--contrast);
}

body {
  max-width: 1000px;
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(21,12,34,1) 79%, rgba(59,3,142,1) 100%, rgba(173,51,119,1) 100%);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 1rem;
  text-align: center;
  background-color: gradient();
  border: 1px solid var(--contrast);
}

.modal {
  position: absolute;
  justify-self: center;
  align-self: center;
  text-align: center;
  top: 10%;
  padding: 2rem;
  border: 1px solid white;
  z-index: 2;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.form_new_project {
  display: block;
}

.hidden {
  display: none;
}

.container {
  padding: 1rem;
  border: 1px solid var(--contrast);
}

.project {
  width: 100px;
  padding: 1rem;
  border-radius: 5px;
}

.task {
  border-bottom: 1px solid var(--contrast);
}